* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 18px;
  background: white;
  font-weight: 400;
  font-weight--webkit-font-smoothing: antialiased;
  font-weight-overflow-x: hidden;
  font-weight-max-width: calc(100vh - 40px);
}

.container {
  margin-top: 40px;
}

/*NAV MENU*/
.menu_general {
  top: 0;
  position: fixed;
  height: 40px;
  width: 100%;
  background-color: white;
  color: #3d3d47;
}
.menu_general li {
  display: inline;
  float: left;
}
.menu_general a {
  display: inline-block;
  width: 100px;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  color: #3d3d47;
}
.menu_general li:hover {
  background-color: #ddd;
}
.menu_general a:hover {
  color: #07a7e3;
}
.menu_general span:hover {
  color: #07a7e3;
  position: absolute;
  height: 1px;
  bottom: 1px;
  width: 100px;
  background-color: #07a7e3;
  z-index: 1000;
}
.menu_general ul {
  width: calc(100vw - 20%);
  margin: 0 auto;
}

.menu_top_line {
  position: absolute;
  height: 1px;
  bottom: 1px;
  width: 100px;
  background-color: #07a7e3;
  z-index: 1000;
}

.menu_top_line ~ a {
  color: #07a7e3;
}

/*HOME*/
#home {
  width: 100%;
  height: calc(100vh - 40px);
  margin: 0 auto;
  border: 2px solid red;
  padding-top: 20px;
}
#home h1, #home h2, #home h5 {
  margin: 20px 20px 30px 20px;
  font-size: 2.5em;
  text-align: center;
  font-weight: 700;
  color: #3d3d47;
}
#home h1 span {
  font-size: 0.5em;
  display: block;
  font-style: italic;
  color: #07a7e3;
  font-weight: 400;
}

.home_slide {
  width: 100%;
  height: 90%;
}
.home_slide .home_slide_tittle {
  height: 20%;
  width: 100%;
  top: 20%;
  left: 10px;
  right: 10px;
  z-index: 1000;
  position: absolute;
}
.home_slide .home_slide_tittle h1 {
  text-align: center;
}

/*PLUGUIN*/
.nav-dots {
  text-align: center;
  position: absolute;
  bottom: 10%;
  height: 30px;
  width: 100%;
  left: 0;
  display: none;
}

.nav-dots span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 3px;
  background: #07a7e3;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.6), inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.nav-dots span.nav-dot-current {
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.6), inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #07a7e3, inset 0 0 0 8px #fff;
}

/*SERVICE*/
#service {
  display: flex;
  width: calc(100vw - 20%);
  height: calc(100vh - 40px);
  padding-top: 20px;
  margin: 0 auto;
  border: 2px solid red;
}

.service_menu {
  width: calc(100vw / 1.5);
  height: 100%;
}
.service_menu ul {
  list-style: none;
}
.service_menu li {
  width: 100%;
}
.service_menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #3e425b;
  border-right: 2px solid #07a7e3;
  background-color: white;
  text-align: center;
  height: calc((100vh - 60px) / 8);
}
.service_menu a:hover, .service_menu a.active {
  background: #ddd;
  height: calc((100vh - 60px) / 8) !important;
  color: #07a7e3;
}

.service_info {
  width: calc(100vw -(100vw / 1.5));
  height: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  background-color: #f7f7f7;
}
.service_info h2 {
  text-align: center;
  margin: 20px 30px;
  font-size: 1.5em;
  color: #3d3d47;
}
.service_info p {
  text-align: center;
  margin: 20px 30px;
  font-size: 1em;
  text-align: justify;
  color: #3d3d47;
  line-height: 2em;
}
.service_info img {
  display: block;
  width: 70%;
  max-height: 270px;
  margin: 0 auto;
}

/*TEAM*/
#team {
  padding-top: 20px;
  width: calc(100vw - 20%);
  height: calc(100vh - 40px);
  margin: 0 auto;
  border: 2px solid red;
}
#team h3 {
  text-align: center;
}

/*CONTACT*/
#contact {
  padding-top: 20px;
  width: calc(100vw - 20%);
  height: calc(100vh - 40px);
  margin: 0 auto;
  border: 2px solid red;
}
#contact article {
  width: 100%;
  height: 12%;
  padding: 20px;
}
#contact article h3 {
  text-align: center;
  width: 100%;
}
#contact article p {
  text-align: center;
  width: 100%;
}

#contact_block {
  display: flex;
  width: 100%;
  height: 65%;
}

#contact_form {
  width: 100%;
}
#contact_form input {
  width: 100%;
  border: 1px solid white;
  background: #f7f7f7;
  padding: 10px;
  margin: 0 0 5px;
  border-width: 2px;
  border-radius: 5px;
}
#contact_form textarea {
  width: 100%;
  border: 1px solid white;
  background-color: #f7f7f7;
  border-width: 2px;
  border-radius: 5px;
}
#contact_form div {
  margin: 0 auto;
  width: 70%;
  padding: 5px;
}
#contact_form button {
  padding: 11px 20px;
  cursor: pointer;
  margin-right: 7px;
  border: 0;
  border-radius: 5px;
  background-color: white;
  color: #3d3d47;
}

/*UBICACION*/
#location {
  padding-top: 20px;
  width: calc(100vw - 20%);
  height: calc(100vh - 40px);
  margin: 0 auto;
  border: 2px solid red;
}
#location h3 {
  text-align: center;
  padding: 20px;
}
#location iframe {
  width: 100%;
  height: 50%;
}
#location article {
  width: 100%;
}

/*# sourceMappingURL=css/contenido.css.map */
