
/*FONT*/
$font-stack:   monospace, sans-serif
$font-size: 18px

/*PRIMARY COLORS*/
$fs-color: darkred
$sc-color: gray
$th-color: blue

* 
  margin: 0
  padding: 0
  box-sizing: border-box


/*CSS CONTENT BLOCKS*/

body
  font-family: $font-stack
  font-size: $font-size
  background-color: $fs-color
