
/*FONT*/
$font-stack:   'Oswald', sans-serif
$font-size: 18px

/*BODY*/
$content-w:30%
$body-color:white

/*PRIMARY COLORS*/
$fs-color: #3e425b
$sc-color: #aeaeae
$th-color: #7ed3ea
$fo-color: #FF6938
$fi-color: #f7f7f7

$text-color: #fff

/*PRIMARY HOVERS*/
$menu-hover:#ddd
$menu-text: #3e425b


/*NAVIGATION
$navigation-height:40px

* 
  margin: 0
  padding: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box


body
  font-family: $font-stack
  font-size: $font-size
  background: $body-color
  font-weight: 400
    -webkit-font-smoothing: antialiased
    overflow-x: hidden
    max-width: calc(100vh - #{$navigation-height})

.container
  margin-top:40px

/*NAV MENU*/
.menu_general
  top: 0
  position: fixed
  height: $navigation-height
  width: 100%
  background-color: $fs-color
  color: $text-color

  li 
    display: inline
    float: left

  a 
    display: inline-block
    width: 100px
    text-decoration: none
    text-align: center
    padding: 10px 0
    color: $text-color
  a:hover
     color:$menu-text
  li:hover 
    background-color: $menu-hover

  ul
    width: calc(100vw - #{$content-w})
    margin: 0 auto

  
/*HOME*/
#home
  width: calc(100vw - #{$content-w})
  height: calc(100vh - #{$navigation-height})
  margin: 0 auto
	
/*SERVICE*/
#service
  display: flex
  width: calc(100vw - #{$content-w})
  height: calc(100vh - #{$navigation-height})
  align-items: center
  justify-content: space-around
  margin: 0 auto
  

.service_menu
  width: 30%
  height: 80%
  ul
     list-style: none
  li
    width: 100%
  a
    display: block
    text-align: center
    text-decoration: none
    text-transform: uppercase
    color: $menu-text
    border-right: 2px solid #{$menu-hover}
    background-color: white
    padding: 30px
    &:hover, &.active 
      background:$menu-hover
     
    
    

.service_info
  width: 60%
  height: 80%
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3)
  background-color: #f7f7f7
  h2
    text-align: center
    margin: 20px 30px
    font-size: 1.5em
    color:$fs-color
  p
    text-align: center
    margin: 20px 30px
    font-size: 1em
    text-align: justify
    color:$fs-color
    line-height: 2em
  img
    display: block
    width: 70%
    max-height:270px
    margin: 0 auto
/*TEAM*/
#team
  width: calc(100vw - #{$content-w})
  height: calc(100vh - #{$navigation-height})
  margin: 0 auto

/*CONTACT*/
#contact
  width: calc(100vw - #{$content-w})
  height: calc(100vh - #{$navigation-height})
  margin: 0 auto
  article
    width: 100%
    h3
      text-align: center
      width: 100%
    p
      text-align: center
      width: 100%
  

#contact_block
  display: flex
  width: 100%
  height: 50%

#contact_form
  width: 100%
  input
    width: 100%
    border: 1px solid $fs-color
    background: $fi-color
    padding: 10px
    margin: 0 0 5px
    border-width: 2px
    border-radius: 5px
  textarea
    width: 100%
    border: 1px solid $fs-color
    background-color: $fi-color
    border-width: 2px
    border-radius: 5px
  div
    margin: 0 auto
    width: 70%
    padding: 10px
  button
    padding: 11px 20px
    cursor: pointer
    margin-right: 7px
    border: 0
    border-radius: 5px
    background-color: $fs-color
    color: $text-color

/*UBICACION*/
#location
  width: calc(100vw - #{$content-w})
  height: calc(100vh - #{$navigation-height})
  margin: 0 auto
  h3
    text-align: center
    padding: 20px
  iframe
    width: 100%
    height: 50%
  article
    width: 100%